.produtos-page {
  padding: 24px;
}

.produtos-page h1 {
  margin-top: 10px;
  margin-bottom: 24px;
  color: var(--blue);
}

/* ===== AÇÕES ===== */

.produtos-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

/* ===== GRID ===== */

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

/* ===== CARD ===== */

.produto-card {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.produto-img {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: #e5e7eb;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.produto-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.produto-info strong {
  display: block;
}

.produto-info span {
  font-size: 13px;
  color: var(--text-secondary);
}

.produto-info p {
  margin: 4px 0 0;
  font-weight: 600;
}

/* ===== MENU ===== */

.produto-actions {
  position: relative;
  cursor: pointer;
}


.button-produto {
font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: var(--green);
  color: #fff;
  border: none;
  padding: 14px 40px;
  border-radius: 16px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 0px;
  cursor: pointer;
}

.button-produto:hover {
  opacity: 0.9;
}


/* ===== MOBILE ===== */

@media (max-width: 768px) {
  .produtos-actions {
    flex-direction: column;
  }

  .button-primary {
    width: 100%;
  }

  .produtos-grid {
    grid-template-columns: 1fr;
  }
}

