.sidebar {
  position: fixed;
  left: 0;
  top: 84px; /* abaixo do header */
  width: 280px;
  height: calc(100vh - 84px);
  background-color: #ffffff;
  box-shadow: 4px 0 50px rgba(0, 0, 0, 0.06);
  padding: 29px 17px;
  overflow-y: auto;
  z-index: 999;
}

/* ===== NAV ===== */

.sidebar-nav {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* ===== LINKS ===== */

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 10px;
  color: #0f3a8a;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  transition: background-color 0.2s;
}

.sidebar-link:hover {
  background-color: #eef4ff;
}

/* ===== ÍCONES ===== */

.sidebar-icon {
  font-size: 18px;
}

/* ===== ATIVO ===== */

.sidebar-link.active {
  background-color: #e6efff;
  color: #0a2a66;
  position: relative;
}

/* ===== OVERLAY ===== */

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 998;
}

/* ===============================
   RESPONSIVIDADE
================================*/

/* Tablet */
@media (max-width: 1024px) {
  .sidebar {
    width: 240px;
    padding: 24px 14px;
  }

  .sidebar-link {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    padding-top: 90px; /* espaço do header */

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}


/* Mobile pequeno */
@media (max-width: 480px) {
  .sidebar {
    width: 230px;
  }

  .sidebar-link {
    font-size: 15px;
    padding: 10px 12px;
  }

  .sidebar-icon {
    font-size: 17px;
  }
}
