.category-card {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 28px 16px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
    cursor: pointer;
    transition: all 0.2s ease;
  
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
  }
  
  .category-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 40px rgba(15, 23, 42, 0.15);
  }
  
  .category-icon {
    font-size: 48px;
    color: #0a2a66;
  }
  
  
  .category-title {
    font-size: 13px;
    font-weight: 500;
    color: #0f172a;
    text-align: center;
  }
  