/* HERO */
.hero-strip {
  margin-top: 122px;
  position: relative;
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: right center;
  display: flex;
  align-items: center;
}

.hero-strip-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(10, 42, 102, 0.9) 0%,
    rgba(10, 42, 102, 0.75) 40%,
    rgba(10, 42, 102, 0.4) 70%,
    rgba(10, 42, 102, 0.15) 100%
  );
}

.hero-strip-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.hero-strip-text {
  max-width: 520px;
  color: #ffffff;
}

@media (min-width: 769px) {
  .hero-strip-text {
    margin-left: -100px;
  }
}

.hero-strip-text h1 {
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-strip-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #e5e7eb;
  margin-bottom: 24px;
}

.hero-actions {
  display: flex;
  gap: 14px;
}

.hero-actions .btn-primary {
  background-color: #22c55e;
  border: none;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 10px;
}

.hero-actions .btn-secondary {
  background-color: #facc15;
  border: none;
  color: #000000;
  padding: 14px 26px;
  border-radius: 10px;
}

/* MOBILE HERO */
@media (max-width: 768px) {
  .hero-strip {
    height: auto;
    padding: 100px 0 80px;
    background-position: center;
  }

  .hero-strip-content {
    padding: 0 20px;
    text-align: center;
  }

  .hero-strip-text {
    margin: 0 auto;
    max-width: 100%;
  }

  .hero-strip-text h1 {
    font-size: 32px;
  }

  .hero-actions {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .hero-actions .btn-primary,
  .hero-actions .btn-secondary {
    width: 100%;
    max-width: 280px; /* largura bonita no celular */
    text-align: center;
  }
  .hero-actions button {
    width: 100%;
    max-width: 280px;
  }

  
}

/* CATEGORIAS */
.categories-section {
  padding: 60px 40px;
  background: #ffffff;
}

.categories-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 24px;
}

/* PRODUTOS */
.products-section {
  
  padding: 80px 40px;
  background: #ffffff;
}

.products-section h2 {
  max-width: 1200px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 28px;
  color: #0f172a;
}

.products-grid {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 20px;
 margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 44px;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* MOBILE GERAL */
@media (max-width: 768px) {
  .categories-section {
    padding: 40px 20px;
  }

  .products-section {
    padding: 60px 20px;
  }

  .products-section h2 {
    font-size: 22px;
  }
}
